<ul>
  <li id="to">To: <%= @email.to %></li>
  <li id="cc">CC: <%= @email.cc %></li>
  <li id="subject">Subject: <%= @email.subject %></li>
  <li id="body">
    Body:
    <p>
      <%= @email.body %>
    </p>
  </li>
</ul>
